@media (max-width: 1199.99px) {
    
}

@media (max-width: 991.99px) {
    .nav__form_input {
        position: absolute;
        left: 0;
        width: 0;
        opacity: 0;
        border: none;
        transition: 0.5s;
    }
    
    .nav__form__btn:hover .nav__form_input {
        opacity: 1;
        width: 100%;
    }
    

}

@media (max-width: 767.99px) {
    .nav {
        position: relative;
    }
    
    .nav__list {
        position: absolute;
        flex-direction: column;
        top: 100%;
        background-color: white;
        right: -100%;
        padding: 20px;
        overflow: unset;
    }
    
    .dropdown__list {
        left: -200px;
    }
    .nav__list__link span {
        order: 1;
    }
    
    .nav__list__link>img {
        transform: rotate(-90deg);
    }
    
    .dropdown__menu:hover .nav__list__link>img {
        transform: rotate(-270deg);
    }
    

    
    .nav__menu-btn {
        background: #e3e3e3;
        width: 32px;
        height: 32px;
    }
    
    .nav__menu-btn:hover > .nav__list {
        right: 0;
    }
    

}

@media (max-width: 575.99px) {
    
}